node_modules
addedTests
target
.DS_Store
builtAssets
reports
.s3creds
.monitor
*.esproj
.idea
*.iml
*.ipr
*.iws
*.pdf
npm-debug.log
.idea
.env
.env-int
.env-beta
/nbproject/
/.vscode/
*.csv
*junk.js
*.py
*package-lock.json